<p><a href="/"><- Atras</a></p>
<form action="/lliga/crear" method="post">
	<p>Nombre: <input type="text" name="nombre" required></p>
	<p>Competicion: <input type="text" name="com" required></p>
	<p>Color1: <input type="text" name="col1" required></p>
	<p>Color2: <input type="text" name="col2" required></p>
	<input type="submit" value="Añadir">
</form>